@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
  font-family: "Roboto", "Mono";
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  font-size: 24px;
}

a {
  background: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0)),
    linear-gradient(
      to right,
      rgb(255, 255, 255),
      rgb(254, 254, 254),
      rgb(255, 255, 255)
    );
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

a:hover,
a:focus {
  background-size: 0 0.1em, 100% 0.1em;
}

nav {
  /* border: 2px solid red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border-bottom: 1px solid #ffffff40;
}
.hamburger {
  width: 20px;
  overflow: hidden;
}
.hamburger i {
  width: 40px;
  height: 24px;
}
.hr {
  border-bottom: 2px solid #fff;
  width: 100%;
  align-items: center;
}
.btn {
  border: 1px solid white;
  width: 10vw; /* 10% of the viewport width */
  padding: 5px;
  border-radius: 20px;
  text-align: center;
  position: absolute;
}
.btn:hover {
  transform: scaleX(1.1) scaleY(1.1);
  transition: 0.3s ease-in-out;
  background-color: #fff;
  color: #000;
}

.btn-1 {
  top: 35%;
  left: 23%;
}

.btn-2 {
  top: 81%;
  left: 29%;
}

.btn-3 {
  top: 29%;
  right: 29%;
}

.btn-4 {
  bottom: 20%;
  right: 21%;
}


/* Adjust other button positions as needed */

.hero-image {
  overflow-y: hidden;
  /* border: 2px solid red; */
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 65vh;
  background-image: url("https://images.unsplash.com/photo-1612838320303-4b3b3b3b3b3b");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-image img {
  /* border: 2px solid red; */
  width: 60%;
  /* height: 380px; */
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: transparent;
}

.hero-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: center;
  padding: 20px;
  margin-right: 83px;
}

p {
  font-weight: 300;
  font-size: 16px;
  line-height: 26.38px;
  text-align: center;
  letter-spacing: 5px;
  word-spacing: 5px;
}

.carusel {
  margin-top: 60px;
}

#hcg-slider-1 .hcg-slide-container {
  width: 95%;
  height: 50vh;
  overflow-y: hidden;
  border-radius: 50px;
  background-position: center;
}

.hcg-slider {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.hcg-slide-container {
  max-width: 100%;
  display: inline-block;
  position: relative;
}

.hcg-slides {
  display: none;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: solid 1px #a0a0a0;
}
.hcg-slides img {
  width: 100%;
  background-position: top;
  display: inline-block;

}
.hcg-slide-text {
  color: #ffffff;
  font-size: 14px;
  padding: 3px 5px;
  position: absolute;
  bottom: 0;
  border-radius: 5px;
  left: 50%;
  text-align: center;
  text-shadow: 0 0 2px #ffffff;
  background-color: rgba(255, 255, 255, 0.3);
  display: inline-block;
  transform: translate(-50%, -5px);
}
#hcg-slide-prev,
#hcg-slide-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 10px;
  /* border: 2px solid red; */
  border-radius: 100px;
  margin-top: -22px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  text-decoration: none;
  text-shadow: 1px 1px 5px #686868;
}
#hcg-slide-next {
  right: 0;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
#hcg-slide-prev {
  left: 0px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
#hcg-slide-prev:hover,
#hcg-slide-next:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
.hcg-slide-dot-control {
  margin-top: 10px;
  text-align: center;
  padding: 10px;
  margin: 10px;
}
.hcg-slide-dot {
  cursor: pointer;
  height: 15px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  
}
.hcg-slide-dot.dot-active {
  background-color: #717171;
}
.hcg-slide-number {
  color: #ffffff;
  font-size: 12px;
  padding: 4px 7px;
  position: absolute;
  border-radius: 5px;
  top: 5px;
  left: 5px;
  background-color: rgba(255, 255, 255, 0.3);
}
/************CSS Animation***********/

.animated {
  animation-name: fadeIn;
  animation-duration: 1s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  animation-name: fadeIn;
}
.aboutus {
  margin-top: 100px;
  /* border: 1px solid red; */
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 0 40px;
}
.aboutus .why h2 {
  font-weight: 600;
  /* border-bottom: 1px solid blue; */
  font-size: 30px;
}
.aboutus .why .line {
  border: 0.5px solid #fff;
  width: 150px;
}

.whyus {
  margin: 0 auto;
  width: 90%;
  height: 1000px;
  /* border: 1px solid #fff;s */
  margin-top: 40px;
  border-radius: 40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #030314;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
}

.whyus:hover {
  box-shadow: 0px 0px 10px #fff;
  background-color: rgba(27, 206, 191, 0.623);
}

.whyus .img1 {
  margin-top: 60px;
  background-color: transparent;
}
.whyus .img1 img {
  background-color: transparent;
  width: 47vw;
  margin-right: 40px;
}
.box1 {
  height: 200px;
  width: 259px;
  padding: 2px;
  position: absolute;
  bottom: -4%;
  left: 9%;
  background: none;
  margin-right: 818px;
  padding: 25px;
  line-height: 30.05px;
}

.whyus .img2 {
  margin-top: 60px;
  background-color: transparent;
  /* height: 40px; */
}
.whyus .img2 img {
  width: 41vw;
  background-color: transparent;
}
.box2 {
  height: 211px;
  width: 230px;
  position: absolute;
  right: 8%;
  top: 9%;
  padding: 4px;
  line-height: 30.05px;
  overflow: hidden;
  background: none;
}

.box3 {
  height: 200px;
  width: 259px;
  padding: 2px;
  position: absolute;
  bottom: 50%;
  left: 6%;
  background: none;
  margin-right: 800px;
  padding: 25px;
  line-height: 30.05px;
}

.box4 {
  height: 200px;
  width: 205px;
  padding: 2px;
  position: absolute;
  right: 13%;
  top: 70%;
  background: none;
  margin-left: 130px;
  padding: 20px;
  line-height: 27.05px;
}
/* hags */
.how-container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin-bottom: 100px;
}
.how-container img {
  height: 100%;
  object-fit: cover;
}

.how-us {
  margin-top: 100px;
  margin-right: 50px;

  /* border: 1px solid red; */
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 40px;
}
.how-us .why h2 {
  font-weight: 600;
  /* border-bottom: 1px solid blue; */
  font-size: 30px;
}
.how-us .how .line {
  border: 0.5px solid #fff;
  width: 150px;
}

/* footer */

footer {
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  width: 50%;
  margin: 0 auto;
}

.conta {
  display: flex;
  flex-wrap: wrap;
  overflow-y: hidden;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.lin {
  border: 1px solid #fff;
  width: 150px;
  margin: 0 10px;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 0px; /*yaha kuch dalna hai*/
  /* border: 1px solid #fff; */
  padding: 20px;
  justify-content: space-between;
  /* flex-direction: column; */
}

.phone {
  width: 260px;
  height: 65px;
  border: 1px solid #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px;
  transition: all 0.5s;
  border-radius: 40px;
}
.mail {
  width: 260px;
  height: 68px;
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 40px;
  transition: all 0.5s;
}

.mail:hover {
  background-color: #fff;
  color: #000;
}

@media (max-width: 768px) {
  .phone {
    width: 200px;
    height: 65px;
    padding: 500px;
    display: flex;
    flex-direction: column;
    border: 1px solid #fff;
    padding: 0px;
    font-size: 12px;
  }
  .mail {
    width: 200px;
    height: 68px;
    padding: 500px;
    display: flex;
    flex-direction: column;
    border: 1px solid #fff;
    padding: 0px;
    font-size: 12px;
  }
  .mail span {
    font-size: 12px;
  }
  .footer {
    overflow: hidden;
  }
  .contact {
    overflow: hidden;
  }
}
.phone:hover {
  background-color: #ebe7e7;
  color: #000;
}
.powerd {
  width: 272px;
  height: 272px;
  /* border: 1px solid #fff; */
  margin-bottom: 42px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
  overflow-x: hidden;
}
.powerd img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
.powerd p {
  font-size: 20px;
  font-weight: 60;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  .hero-image {
    height: 50vh; /* Adjust the height as needed */
    width: 100%; /* Make the image full width */
  }
  .hero-image img {
    width: 100%; /* Make the image full width */
    max-width: 100%; /* Ensure the image does not exceed its container */
    height: auto; /* Maintain aspect ratio */
    margin: 0; /* Remove any margin */
  }
  .hero-text {
    justify-content: center; /* Center align the text */
    align-items: center; /* Center align the text */
    margin-right: 0; /* Remove right margin */
    padding: 10px; /* Adjust padding as needed */
  }
  p {
    font-size: 14px; /* Adjust font size */
    letter-spacing: 3px; /* Adjust letter spacing */
    word-spacing: 3px; /* Adjust word spacing */
  }
}
@media (max-width: 768px) {
  .whyus {
    width: 90%;
    height: auto;
    margin-top: 20px;
    border-radius: 20px;
  }
  /* Adjust other styles as needed */
  .conta {
    display: flex;
    flex-direction: row;
    height: 198px;
    overflow: hidden;
  }
  .contact {
    overflow: hidden;
    display: flex;
    flex-direction: row;
  }
}


@media (max-width: 1100px) {
  .how-container {
    flex-direction: column;
    height: auto;
  }

  .how-container img {
    width: 100%;
    height: auto;
  }

  .how-us {
    justify-content: center;
    margin-top: 50px;
    margin-right: 0;
    padding: 0 20px;
  }
  #hcg-slider-1 .hcg-slide-container {
    width: 95%;
    height: 15vh;
    overflow-y: hidden;
    border-radius: 50px;
    background-position: center;
  }
}
/* Continue from the previous CSS */

/* Media Queries */
@media only screen and (max-width: 768px) {
  .whyus {
    width: 95%;
    overflow: hidden;
    position: relative;
    border-radius: 20px; /* Smaller radius on smaller screens */
  }
  .whyus img {
    max-width: 100%;
  }

  .box1 {
    overflow: hidden;
    position: absolute;
    font-size: 6px;
    line-height: 0px;
    width: 34%;
    height: 36%;
    line-height: 10px;
    top: 23px;
    left: -32px;
    /* border: 2px solid red; */
    margin: 10px;
  }
  .box2 {
    overflow: hidden;
    position: absolute;
    font-size: 6px;
    line-height: 0px;
    width: 28%;
    height: 36%;
    line-height: 10px;
    top: 7px;
    right: 7px;
    /* border: 2px solid red; */
    margin: 10px;
  }
  .box3 {
    overflow: hidden;
    position: absolute;
    font-size: 6px;
    line-height: 0px;
    width: 34%;
    height: 36%;
    line-height: 10px;
    bottom: -35px;
    left: -13px;
    /* border: 2px solid red; */
    margin: 10px;
  }
  .box4 {
    overflow: hidden;
    position: absolute;
    font-size: 6px;
    line-height: 0px;
    width: 34%;
    height: 36%;
    line-height: 10px;
    top: 150px;
    left: 237px;
    /* border: 2px solid red; */
    margin: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .whyus {
    margin-top: 20px;
  }

  /* Stack the images and boxes on top of each other */
  .whyus .img1,
  .whyus .img2 {
    margin-top: 30px;
  }
  .whyus {
    width: 100%;
    margin-top: 10px;
  }
}
@media (max-width: 600px) {
  .btn-1 {
    top: 32%;
    left: 1%;
  }
  .btn-2 {
    top: 52%;
    left: 11%;
  }
  .btn-3 {
    top: 30%;
    right: 11%;
  }
  .btn-4 {
    bottom: 47%;
    right: 1%;
  }
  .btn {
    width: 80px;
    padding: 0px;
  }
  .btn:hover {
    transform: scaleX(1.1) scaleY(1.1);
    transition: 0.3s ease-in-out;
    background-color: #fff;
    color: #000;
  }
}
